@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter','thasadith';
    background-color: #f5f5f5;
    justify-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

h1 {
    margin: 10px;
}

h2 {
    font-size: 20px;
}
p {
    margin: 0px;
    font-size: 16px;
    color: #555555;
}
.imgHeader, .imgTb {
    display: block;
}

.imgHeader img {
    display: block;
    width: 150px;
    height: auto;
}

.colTb{
    display: flex;
    gap: 2rem;
    padding: 20px;
}

.tbItem{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.tbItem img {
    display: block;
    width: 250px;
}

